.taskCard__container {
  background: var(--gray);
  padding: .5rem;
  border-radius: .4rem;

  .taskCard__content__container {
    margin-bottom: 1.56rem;

    .h2__title {
      margin-bottom: 1rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.5em;
    }
  }


  .taskCard__buttons__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .taskCard__button {
      cursor: pointer;
      border-radius: .4rem;
      padding: .5rem;
    }

    .delete__button {
      background: var(--red);
    }

    .update__button {
      background: var(--blue);
    }
  }
}